<h1>LISTA EVENTI</h1>

<head>
  <style>
  table, th {
    border: 2px solid black;
  }
  </style>
</head>

<body>

  <table style="width:100%">
    <tr>
      <th>Artista</th>
      <th>Luogo</th>
      <th>Data e Ora</th>
      <th>Prezzo</th>
      <td align="center" style="font-weight:bold">Azione</td>
    </tr>
    <% eventi.forEach(function(events)  { %>
      <tr align="center">
        <td><hr/><%= events.artista %><hr/></td>
        <td><hr/><%= events.luogo %><hr/></td>
        <td><hr/><%= events.data %><hr/></td>
        <td><hr/><%= events.prezzo %> &euro;<hr/></td>
        <td style="display: block"><hr/><button>Prenota!</button><hr/></td>
      </tr>
    <% }); %>
  </table>

<h1>YUP</h1>

</body>
