<!DOCTYPE html>
<html>
  <head>
    <title>Musical Events</title>
    <link rel="stylesheet" href="../../assets/styles/hmpgstyle.css" type="text/css">
  </head>
  <body>
    <div class="center">
        <h1>Homepage</h1>
        <h2>in questa pagina ci vanno i bottoni SIGNUP/LOGIN</h2>

        <button onclick="login()">Login</button>
        <button onclick="register()">Registrati</button>
    </div>

    <script>
      function login() {
        alert('Hello world');
      }
      function register(){
        return res.view(/signup);
      }
    </script>
  </body>
</html>
