<!DOCTYPE html>
<html>
  <head>
    <title>Musical Events</title>
    <link rel="stylesheet" href="../../assets/styles/hmpgstyle.css" type="text/css">
  </head>
  <body>
    <div class="center">
        <h1>Homepage</h1>
        <h2>Registrati o effettua il login</h2>

        <button onclick="login()">Login</button>
        <button onclick="register()">Registrati</button>
    </div>

    <script>
      function login() {
        <%- partial ('login.ejs') %>
      }
      function register(){
        <%- partial ('signup.ejs') %>
      }
    </script>
  </body>
</html>
