<!DOCTYPE html>
<html>
  <head>
    <title>Musical Events</title>
  </head>
  <body>
      <h1>Homepage</h1>
      <h2>in questa pagina ci vanno i bottoni SIGNUP/LOGIN</h2>

      <button onclick="login()">Login</button>
      <button onclick="register()">Registrati</button>

    <script>
      function login() {
        alert('Hello world');
      }
      function register(){
        return res.view(/signup);
      }
    </script>
  </body>
</html>
