<head>
  <link rel="stylesheet" href="../../assets/styles/sgnstyle.css" type="text/css">
</head>
<body>
  <div class="center">
    <h1>Registrati</h1>
    <form method="POST" action="/user"> <!-- action="/user" reindirizza alla pagina /user che contiene i dati relativi all'utente -->
      <input type="email" name="email">
      <input type="password" name="password">
      <input type="submit" value="submit">
    </form>
    <br/><br/>
    <button onclick="window.location.href='../';">Indietro</button>
  </div>
</body>
